$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/*colores*/
$background-color-principal: #2B2D38;
$white: #FFFFFF;
$pink: #DB2A6B;

/*fuentes*/
$primary-font: "Poppins", sans-serif;
$hero-font: "Merriweather", serif;