.hero {
 
    img {
        position: absolute;
    }
    &-image {
        top: 110px;
        left: 710px;
        width: 45%;
    }

    &-title {
        font-size: 57px;
        color: $white;
        font-family: $hero-font;
        line-height: 70px;
    }
    &-text {
        margin-top: 19px;
        font-size: 16px;
        color: $white;
        font-weight: 100;
        max-width: 67%;
    }

    &-buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;

     a {
        color: $white;
     }

    .hero-link {
        padding-left: 30px;
        display: flex;
        align-items: center;
        gap: 5px;
        img {
            position: relative;
        };
    }
    }
}