.services {
    display: flex;
    align-items: center;
    margin-top: 80px;
    max-width: 80%;

    &-detail {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: 45px;
        }

        p {
            color: $white;
            max-width: 40%;
            font-size: 14px;
        }
    }
}